.app {
    padding: 10px;
    background-color:#808D8E;
    /* height: 100vh; */
}

.page_layout {
    display: flex;
    flex-direction: row;
    height: 100%
}

.panel {
    padding: 25px;
    padding-top: 15px;
    background-color: #143642;
    border-radius: 10px;   
    margin-right: 20px;
    width: 25vw;
    color: white
}

.body {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #5C0029;
    padding: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}


.world-map {
    border-width: 0;
    height: 500px;
    width: 750px;
}

.bubble-plot {
    height: 340px;
    width: 500px;
    border-width: 0;
}

.line-plot {
    border-width: 0;
    height: 400px;
    width: 500px;
}

.bar-plot {
    border-width: 0;
    height: 400px;
    width: 500px
}

.dropdown {
    color: black
}

.radio {
    display: flex;
    flex-direction: column;
}